[phases.setup]
nixPkgs = ["php82", "php82Packages.composer", "php82Extensions.dom", "php82Extensions.mbstring", "php82Extensions.pdo", "php82Extensions.pdo_pgsql", "nodejs_20"]

[phases.build]
cmds = [
    "composer install --no-dev --optimize-autoloader",
    "npm install",
    "npm run build"
]

[start]
cmd = "php artisan config:cache && php artisan route:cache && php artisan view:cache && php artisan serve --host=0.0.0.0 --port=$PORT"
